html {
  font-size: 62.5%;
}
/* margin top heading */
.header {
  margin-top: 1rem;
}
/* Pintrest style */
.socialmediaheader .fa-square-pinterest {
  background: white;
  color: #c59a60;
  text-decoration: none;
  font-size: 2rem;
}
/* style faceebook icon */
.socialmediaheader .fa-square-facebook {
  background: white;
  color: #c59a60;
  text-decoration: none;
  font-size: 2rem;
}
/* style instagram icon */
.socialmediaheader .fa-instagram {
  background: white;
  color: #c59a60;
  text-decoration: none;
  font-size: 2rem;
}
/* style search icon in header */
.socialmediaheader .fa-search {
  background: white;
  color: #c59a60;
  text-decoration: none;
  font-size: 2rem;
}

/* style main title I.E. foodblog */
.title {
  font-size: 6rem;
}

.socialmediaheader {
  text-align: center;
}

/* remove dot from the sub header and place them in center */
.selectheader ul {
  list-style-type: none;
  text-align: center;
}

/* pleace all LI in on line and give space between them */
.selectheader li {
  display: inline-block;
  margin-right: 3.5rem;
}

/* remove underlines from href and make them black in color */
.selectheader li a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}
/* give margin in the bottom section */
.selectheader {
  margin-bottom: 4rem;
}

/* make it responsive to the users */
@media (max-width: 998px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 550px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 412) {
  html {
    font-size: 35%;
  }
}

/* main body background */
.about {
  background-image: url("bread with green.jpg");
  height: 80rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  border: 2px green solid;
}
/* Break fast passage */
.maintitle {
  background-color: white;
  width: 50rem;
  padding-top: 3rem;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 3rem;
  font-size: 2rem;
  margin-left: 10rem;
  border-radius: 0.5rem;
  margin-top: 40rem;
}

.titlereadmore {
  margin-left: 10rem;
  text-decoration: none;
  color: black;
}
.subtitle {
  margin-top: 2rem;
}
.textbody {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.95rem;
}
/* below the HR ( ------ line) on the body */
.footertitle {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}
/* make arrow and title color  */
.maintitlename,
.fa-arrow-right {
  color: #c59a60;
}
/* padding to thumb up */
.fa-thumbs-up {
  padding-left: 2rem;
}
.readmore {
  padding-left: 11rem;
  text-decoration: none;
  color: black;
}

/* Quick menu on the Center */
.quickmenu {
  text-align: center;
  margin-top: 5rem;
}

/* male quick menu big in text change their color and put padding into it */
.fasticon {
  height: fit-content;
  width: fit-content;
  border-right: 1px #c59a60 solid;
  font-size: 6rem;
  padding-right: 6rem;
  padding-left: 6rem;
  color: #c59a60;
  margin-top: 1rem;
}
/* more padding for better experiences */
.fasttext {
  padding-top: 1rem;
  font-size: 2rem;
}

#rem {
  border: 0px;
}

/* make al the icon comes to one place */
.fasticon {
  display: inline-block;
}

.footer {
  padding-top: 9rem;
  background: url("pizza.jpg");
  margin-left: -0.82rem;
  margin-right: -0.82rem;
}
.footericons ul {
  list-style-type: none;
  text-align: center;
}
.footericons li {
  display: inline-block;
  margin-right: 3.5rem;
}
.footertitletxt {
  text-align: center;
  font-size: 6rem;
  color: white;
}
.footericons {
  margin-top: 3rem;
  margin-bottom: 10re;
}
.footericons #footericon {
  color: white;
  font-size: 2rem;
}
.footerbody {
  background-color: white;
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 3rem;
  border-radius: 0.2rem;
  padding-bottom: 2rem;
}
.footerbodytext {
  font-size: 1.3rem;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
  padding-right: 3rem;
  padding-left: 3rem;
}
.footerhead {
  font-size: 3rem;
  padding-top: 3rem;
}
.footername {
  border: 1px #c59a60 solid;
  text-align: center;
  border-radius: 3px 0px 0px 3px;
}
.footeremail {
  border: 1px #c59a60 solid;
  text-align: center;
  border-radius: 0px 3px 3px 0px;
}
.footername {
  margin-right: -1rem;
}
.footerbtn {
  background: #c59a60;
  border: 0px;
  color: white;
  margin-left: 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  padding: 0.4rem;
}
#name {
  font-size: 0.8rem;
  padding: 0.4rem;
}
.footercheck {
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}
input.footercheck {
  width: 0.8rem;
  height: 0.8rem;
}
.copyright {
  text-align: center;
  color: white;
  padding-top: 9rem;
  padding-bottom: 2rem;
}
