html {
  font-size: 62.5%;
}

/* make it responsive to the users */

@media (max-width: 768px) {
  html {
    font-size: 33%;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 22%;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 18%;
  }
}

@media (max-width: 380px) {
  html {
    font-size: 16%;
  }
}
@media (max-width: 340px) {
  html {
    font-size: 13%;
  }
}

/* margin top heading */
.header {
  margin-top: 1rem;
}
/* Pintrest style */
.socialmediaheader .fa-square-pinterest {
  background: white;
  color: #c59a60;
  text-decoration: none;
  font-size: 2rem;
}
/* style faceebook icon */
.socialmediaheader .fa-square-facebook {
  background: white;
  color: #c59a60;
  text-decoration: none;
  font-size: 2rem;
}
/* style instagram icon */
.socialmediaheader .fa-instagram {
  background: white;
  color: #c59a60;
  text-decoration: none;
  font-size: 2rem;
}
/* style search icon in header */
.socialmediaheader .fa-search {
  background: white;
  color: #c59a60;
  text-decoration: none;
  font-size: 2rem;
}

#headerfacebook,
#headerinsta {
  padding-left: 2rem;
}
/* style main title I.E. foodblog */
.title {
  font-size: 6rem;
}

.socialmediaheader {
  padding-left: 8rem;
  padding-right: 15rem;
  padding-top: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* remove dot from the sub header and place them in center */
.selectheader ul {
  list-style-type: none;
  text-align: center;
}

/* pleace all LI in on line and give space between them */
.selectheader li {
  display: inline-block;
  margin-right: 3.5rem;
}

/* remove underlines from href and make them black in color */
.selectheader li a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}
/* give margin in the bottom section */
.selectheader {
  margin-bottom: 4rem;
}

/* main body background */
.about {
  background-image: url("bread with green.jpg");
  height: 80rem;
  width: 100%;
  background-size: cover;
  background-position: center;
}
/* Break fast passage */
.maintitle {
  background-color: white;
  width: 50rem;
  padding-top: 3rem;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 3rem;
  font-size: 2rem;
  margin-left: 10rem;
  border-radius: 0.5rem;
  margin-top: 40rem;
}
.emptydiv {
  opacity: 0%;
}

.titlereadmore {
  margin-left: 10rem;
  text-decoration: none;
  color: black;
}
.subtitle {
  margin-top: 2rem;
}
.textbody {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.7rem;
}
/* below the HR ( ------ line) on the body */
.footertitle {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}
/* make arrow and title color  */
.maintitlename,
.fa-arrow-right {
  color: #c59a60;
}
/* padding to thumb up */
.fa-thumbs-up {
  padding-left: 2rem;
}
.readmore {
  padding-left: 11rem;
  text-decoration: none;
  color: black;
}

/* Quick menu on the Center */
.quickmenu {
  text-align: center;
  margin-top: 5rem;
}

/* male quick menu big in text change their color and put padding into it */
.fasticon {
  height: fit-content;
  width: fit-content;
  border-right: 1px #c59a60 solid;
  font-size: 6rem;
  padding-right: 6rem;
  padding-left: 6rem;
  color: #c59a60;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.fasticon a {
  text-decoration: none;
  color: #c59a60;
}
/* more padding for better experiences */
.fasttext {
  padding-top: 1rem;
  font-size: 2rem;
}

#rem {
  border: 0px;
}

/* make al the icon comes to one place */
.fasticon {
  display: inline-block;
}

.footer {
  padding-top: 9rem;
  background: url("pizza.jpg");
}
.footericons ul {
  list-style-type: none;
  text-align: center;
}
.footericons li {
  display: inline-block;
  margin-right: 3.5rem;
}
.footericons li a {
  text-decoration: none;
}
.footertitletxt {
  text-align: center;
  font-size: 6rem;
  color: white;
}
.footericons {
  margin-top: 3rem;
  margin-bottom: 10re;
}
.footericons #footericon {
  color: white;
  font-size: 2rem;
}
.footerbody {
  background-color: white;
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 3rem;
  border-radius: 0.2rem;
  padding-bottom: 2rem;
}
.footerbodytext {
  font-size: 1.3rem;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
  padding-right: 3rem;
  padding-left: 3rem;
}
.footerhead {
  font-size: 3rem;
  padding-top: 3rem;
}
.footername {
  border: 1px #c59a60 solid;
  text-align: center;
  border-radius: 3px 0px 0px 3px;
}
.footeremail {
  border: 1px #c59a60 solid;
  text-align: center;
  border-radius: 0px 3px 3px 0px;
}
.footername {
  margin-right: -1rem;
}
.footerbtn {
  background: #c59a60;
  border: 0px;
  color: white;
  margin-left: 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  padding: 0.4rem;
}
#name {
  font-size: 0.8rem;
  padding: 0.4rem;
}
.footercheck {
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}
input.footercheck {
  width: 1rem;
  height: 1rem;
}
.copyright {
  text-align: center;
  color: white;
  padding-top: 9rem;
  padding-bottom: 2rem;
}

.bodyheader {
  font-size: 3.5rem;
}

/* .article{
  width: 60%;
  float: left;
  padding: 1rem;
}
.aside{
  width: 30%;
  float: right;
  padding: 1rem;
  background-color: rgb(184, 175, 175);
} */
.mainheadertext {
  font-size: 4.5rem;
  margin-top: 4rem;
  margin-bottom: 9rem;
  margin-left: 10rem;
}
.maincont {
  display: flex;
  margin-left: 10rem;
  margin-bottom: 15rem;
}
.content {
  width: max-content;
  margin-right: 10rem;
}

.bodycontent {
  display: inline-block;
  width: 38rem;
  font-size: 1.5rem;
}

.bodycontent img {
  height: 55rem;
  width: 38rem;
}
.titlenecipes {
  margin-top: 3.5rem;
  color: #c59a60;
  margin-bottom: 1rem;
}
.subtitletitlenecipes {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#recbtn {
  display: flex;
  float: right;
}
#pumpkin {
  margin-right: 10rem;
  margin-bottom: 4rem;
}
.aboutrecipes {
  margin-top: 2.5rem;
}
.recbtn1,
.recbtn2 {
  text-decoration: none;
  color: black;
}

.quickbuy {
  background-color: antiquewhite;
  padding-top: 4rem;
  padding-left: 3rem;
  display: flex;
}

.quickbuyright img {
  height: 8rem;
  width: fit-content;
}
.pastatips img {
  width: 87rem;
  border-radius: 4px;
}
.titlepasta {
  margin-top: 2.5em;
  margin-bottom: 4.5rem;
  font-size: 2.5rem;
}
.whattosay img {
  border: 2px black solid;
  border-radius: 50%;
  width: 9rem;
}
.whattosay {
  width: 87rem;
  display: flex;
  margin-top: 5rem;
}
.whattosayright {
  margin-left: 3rem;
}
.writterby,
.writtenname,
.writtendate,
.writtenbody,
.reply {
  margin-top: 1rem;
}
.replybtn {
  text-decoration: none;
  color: black;
}

.leavereplyheader,
.writtenname {
  font-size: 2rem;
}
.writtendate,
.writtenbody {
  font-size: 1.5rem;
}

#replywritten {
  color: #c59a60;
  font-size: 1rem;
  text-decoration: none;
}

.leavereply {
  margin-top: 5rem;
}

.leavebody,
.leaveratingtitle {
  margin-top: 2rem;
  font-size: 1.4rem;
}
.staricon {
  padding-left: 1rem;
}
.comment {
  font-size: 1.4rem;
  margin-top: 2rem;
}
#replytextarea {
  width: 87rem;
  height: 12rem;
}
.replybottom {
  margin-top: 2rem;
  display: flex;
  width: 87rem;
}
.reply-form {
  display: flex;
  justify-content: space-between;
}

.reply-form input{
   height: 1.8rem;
  width: 16rem;
}

.searchTerm {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  font-size: 2rem;
  border-bottom-color: #c59a60;
}
.searchTerm-icon {
  background: white;
  color: #c59a60;
  text-decoration: none;
  font-size: 2rem;
}
/* 
.aside {
  width: 25%;
} */

.searchTerm {
  width: 30rem;
}

fieldset legend {
  text-align: center;
}

fieldset {
  border: 0.2rem solid #c59a60;
  font-size: 1.5rem;
  color: #c59a60;
  border-radius: 4px;
  width: 30rem;
}

fieldset img {
  width: 30rem;
  padding-top: 0.5rem;
}
.first-quickmessage {
  margin-top: 9rem;
}
.first-quickmessage-body,
.first-quickmessage-readmore {
  color: black;
  text-decoration: none;
}
.quick-news,
.quick-social {
  margin-top: 5rem;
}

.quick-social a {
  color: #c59a60;
  text-decoration: none;
  padding-left: 3rem;
}
.quick-social-icons {
  padding: 3rem;
  text-align: center;
}
.quick-recipe-button {
  background: #c59a60;
  border: 0px;
  color: white;
  border-radius: 3px;
  font-size: 0.8rem;
  padding: 0.4rem;
}

.quick-recipe{
  background-color: #f7f3ef;
  border-radius: 5px;
  margin-top: 5rem;
  text-align: center;
  font-size: 1.3rem;
}

.quick-recipe-title{
  padding-top: 1rem;
}
.quick-recipe-button{
  margin-bottom:1rem ;
  width: 7rem;
}
.quick-recipe input{
  text-align: center;
  font-size: 0.8rem;
  height: 1.2rem;
  width: 13rem;
  border: none;
  border-radius: 2px;
}
.latest-post{
  margin-top: 5rem;
  
}
.latest-post-mainbody{
  color: black;
  text-align: center;
}
.latest-post-body,.latest-post-seemore{
  font-size: 1rem;
}

.latest-post-seemore{
  text-decoration: none;
  color: black;
}
.latest-post-mainbody img{
  width: 20rem;
  height: 14rem;
  border-radius: 10px;
  padding-top: 1rem;
}
